$btn-close-focus-shadow: none;
$dark: #121314;
$navbar-light-color: #484848;
$navbar-light-active-color: #484848;
$dropdown-item-padding-y: 3px;
$dropdown-item-padding-x: 3px;
$dropdown-padding-y: 0;
$dropdown-min-width: 6.5rem;
$dropdown-link-hover-bg: #f2f2f2;
$dropdown-link-color:  #484848;
$dropdown-link-hover-color: rgb(0,0,0);

@import '../../node_modules/bootstrap/scss/bootstrap';